<footer class="Footer border">
  <section class="Footer--left">
    <div class="Footer--location">
      <img src='{{ "/assets/img/flower.svg" | relative_url }}' alt="Flor decorativa"></svg>
      <div>
        <p>Atendimento presencial (Vitória/ES)</p>
        <p>Atendimento online</p>
      </div>
    </div>
    <div>Tem alguma dúvida? Entre em contato!</div>
  </section>

  <section class="Footer--middle">
    <img src='{{ "/assets/img/red-flower.png" | relative_url }}' alt="Flor decorativa">
  </section>

  {% include media.html %}

</footer>
