  <footer class="Footer border">
    <section class="Footer--left">
      <div class="Footer--location">
        <img src='{{ "/assets/img/flower.svg" | relative_url }}' alt="decorative flower"></svg>
        <div>
          <p>Atendimento presencial (Vitória/ES)</p>
          <p>Atendimento online</p>
        </div>
      </div>
      <div>Tem alguma dúvida? Entre em contato!</div>
    </section>

    <section class="Footer--middle">
      <img src='{{ "/assets/img/flower.svg" | relative_url }}' alt="decorative flower">
    </section>

    <section class="Footer--right">
        <a href="https://api.whatsapp.com/send?phone=5527999689321">
          <img src='{{ "/assets/img/whatsapp.svg" | relative_url }}' alt="WhatsApp logo">
          <span>(27) 99968-9321</span>
        </a>
        <a href="mailto:fabiolarmatos@yahoo.com.br">
          <img src='{{ "/assets/img/email.svg" | relative_url }}' alt="WhatsApp logo">
          <span>fabiolarmatos@yahoo.com.br</span>
        </a>
        <a href="https://www.instagram.com/fabiolarmatos/">
          <img src='{{ "/assets/img/instagram.svg" | relative_url }}' alt="WhatsApp logo">
          <span>@fabiolarmatos</span>
        </a>
    </section>

  </footer>
