.Footer {
  min-height: 200px;
  background: var(--light-grey);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Footer>section {
  margin-top: 15px;
}

.Footer--location {
  display: flex;
  line-height: 15px;
}

.Footer--location>img {
  height: 77px;
}

.Footer--left > div:last-child {
  margin-top: 15px;
  margin-bottom: 15px;
}

.Footer--middle>img {
  height: 130px;
  margin-top: 20px;
}

@media (max-width: 695px){
  .Footer--middle {
    display: none;
  }
}
