---
---
:root {
  --header-height: 150px;
  --deep-teal: #18454B;
  --papaya: #FEA166;
}

html, body{
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  color: var(--deep-teal);
}

h2 {
  font-family: 'Didact Gothic', sans-serif;
}

a{
  text-decoration: none;
  color: #830DF9;
}

a:hover {
  color: var(--magenta);
}

li{
  line-height: 2rem;
  font-size: 21px;
}
