---
---

body>header {
  background-color: #FFFFFF;
  box-shadow: 0 0 3px  #000000;
  height: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 99999;
  top: 0;
}

header>nav {
  width: 100%;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

.NavigationList{
  list-style-type: none;
  width: 100%;
  padding-left: 0;
}

.NavigationList--horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
  max-width: 800px;
}

.NavigationList--horizontal li {
  height: 60px;
}

.NavigationList--horizontal a{
  color: #ef6673;
  font-size: 25px;
  line-height: 40px;
}

.NavigationList--horizontal a:hover {
  color: #D0AE5E;
}

#nav-social{
  display: flex;
  justify-content: space-around;
}

#nav-social div{
  margin: 3px;
}

.logo, .logo a{
  color: #ef6673;
  margin-top: 10px;
  text-align: center;
  font-family: 'Nerko One', cursive;
}

.logo--link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo--image {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.logo--top {
  display: block;
  font-size: 25px;
}

.logo--bottom {
  font-size: 20px;
}

.current {
  background-image: url('{{ "/assets/img/flores-underline.png" | relative_url }}');
  background-position: 0 1.8em;
  background-repeat: no-repeat;
  background-size: contain;
}