.main__header {
  background-color: #FFFFFF;
  border-bottom: #000 1px solid;
  min-height: var(--header-height);
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo .logo__link {
  font-size: 32px;
  display: flex;
  justify-content: center;
}

.logo .logo__text {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.logo .logo__link .logo__img {
  width: 125px;
  height: 125px;
}

.logo .logo__link .logo__name {
  color: var(--deep-teal);
  font-family: 'Didact Gothic', sans-serif;
  letter-spacing: 0.04em;
}

.logo .logo__link .logo__profession {
  color: var(--deep-teal);
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 0.3em;
}

.logo .logo__link .logo__crp {
  color: var(--deep-teal);
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

@media (min-width: 991.98px) {
  .logo{
    display: inline-block;
    position: absolute;
    right: 80px;
  }
  .logo .logo__link .logo__name {
    font-size: 40px;
    letter-spacing: 0.08em;
  }
  .logo .logo__link .logo__profession {
    font-size: 18px;
    letter-spacing: 0.35em;
  }
  .logo .logo__link .logo__crp {
    font-size: 24px;
  }
  .logo .logo__link .logo__img {
    width: 140px;
    height: 140px;
  }
}
