---
---
.Presentation{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  background: #a493ab;
}

.Presentation--content{
  margin: 40px;
  max-width: 500px;
  text-align: center;
}

.Presentation--photo {
  width: 300px;
  height: 300px;
  margin: 10px;
}

.Presentation--content blockquote{
  color: black;
}

.Presentation--content p{
  text-align: initial;
}

.Presentation--content cite{
  text-align: end;
}

@media (min-width: 991.98px) {
  .Presentation{
    flex-direction: row;
    background-image: url('{{ "/assets/img/notepadc.jpg" | relative_url }}');
  }
  .Presentation--content p{
    min-width: 450px;
    margin-top: 120px;
  }
  .Presentation--photo{
    width: 350px;
    height: 350px;
  }
}