<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Fabíola Rodrigues Matos">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <title>{{ page.title }} - Fabíola Rodrigues Matos Psicóloga</title>
    <link rel="icon" href="{{ '/assets/img/logo.svg' | relative_url }}">
    <link rel="stylesheet" type="text/css" href='{{ "/assets/css/main.css" | relative_url }}'>
    <link rel="stylesheet" type="text/css" href='{{ "/assets/css/navigation.css" | relative_url }}'>
    <link rel="stylesheet" type="text/css" href='{{ "/assets/css/media.css" | relative_url }}'>

    {% if page.custom_css %}
      {% for stylesheet in page.custom_css %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ stylesheet }}.css" >
      {% endfor %}
    {% endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:wght@300;400&display=swap" rel="stylesheet"> 
  </head>
  <body>

    {% include navigation.html %}

    {{ content }}

  </body>
</html>
